*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: monospace;
  font-size: 20px;
  line-height: 3rem;
  --clr-accent: rgb(255, 209, 49);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
  background-color: var(--clr-accent);
}

h1 {
  font-size: 3rem;
}

#reset-button {
  padding: 0.5em 1.5em;
  border: 2px solid black;
  box-shadow: 6px 6px rgb(233, 233, 233);
  font-family: monospace;
  font-size: 1.5rem;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

#counting-number {
  position: absolute;
  z-index: 1;
  font-size: 6rem;
}

.counting-step {
  width: 100%;
}
